<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Magetest_Hellotest" setup_version="1.0.0" />
        <module name="Magetest_Hellotest" setup_version="1.2.1">
        <sequence>
            <module name="Magetest_setup"/>
        </sequence>
    </module>


</config>


